main {
  max-width: 930px;
  padding: 4% 2%;
  margin:  0 auto;
}
.color-swatches {
  border: 1.5px solid black;
  padding: 12px;
  text-align: center;
}
.color-swatch {
  height:  350px;
  width:  25%;
  display: inline-block;
}