* {
	box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(200, 200, 200);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  max-width: 1000px;
  padding: 4% 2%;
  margin:  0 auto;
}
.color-swatches {
  border: 1.5px solid black;
  padding: 12px;
  text-align: center;
  min-height:  350px;
}
.color-swatch {
  height:  350px;
  height:  46vh;
  width:  25%;
  display: inline-block;
  position: relative;
}
.color-swatch:hover .color-swatch-inner {
	opacity: 1;
}
.color-swatch-inner {
	transition: .4s;
	opacity: 0;
	position: absolute;
	top:  25%;
	display: inline-block;
	text-align: center;
	width: 100%;
	font-weight: bold;
}

.color-input {
	text-align: center;
	font-size:  18px;
}
.color-input article {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.color-input article.seed-text {
	width:  45%;
}
.color-input article.num-colors {
	width:  35%;
}
.color-input article.submit-colors {
	width: 20%;
}
.color-input label, .color-input textarea, .color-input input {
	display: block;
	padding:  10px;
	margin: 5px auto;
	font-size:  18px;
}
.color-input textarea, .color-input input {
	background-color: white;
	border-radius: 5px;
	border:  1px solid black;
}
/* .color-input label {
	min-height: 62px;
} */
.color-input textarea {
	width:  100%;
}

@media (max-width: 768px) {
	.color-input article.seed-text {
		width:  100%;
	}
	.color-input article.num-colors, .color-input article.submit-colors {
		width: 50%;
	}
}